.form__date__picher__wrp label,
.date__picher__wrp label{
    font-size: 16px;
    line-height: 1;
    color: #5B5B98;
    padding-right: 15px;
}
.form__date__picher__wrp input,
.date__picher__wrp input{
    width: 200px;
    height: 50px;
    background: #fff;
    border: 1px solid#E8E6F8;
    border-radius: 8px;
    color: #5B5B98;
    font-size: 16px;
    line-height: 1;
    padding: 10px 10px;
    background-image: url(../../public/images/calendar.png) !important;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 165px;
}
.form__date__picher__wrp input{
    /* max-width: 350px !important; */
    max-width: 100% !important;
    width: 100% !important;
    background-position: 95% !important;
}
.react-datepicker-wrapper{
    display: block !important;
}